Data structure and algorithms\Estructuras-de-datos\output
Data structure and algorithms\Algoritmos\output
Data structure and algorithms\Estructuras-de-datos/output
Data structure and algorithms\Algoritmos/output